p.claseP1 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
    text-align: left;
    text-indent: 30px;
}

p.claseP2 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
    text-align: left;
    text-indent: 30px;
    border: solid, blue, 2px;
    background-color: yellow;
}

p img.claseIP {
    float: right;
    width: 60px;
    height: 60px;
    padding: 2px;
}